@model UongHoangAnh2022033.Models.UHA1033

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>UHA1033</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UHAName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UHAName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UHA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UHA)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UHAID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
